:root {
  /* dimensions */
  --circle-dim: 100px;

  /* colors */
  --gaming-area-bg: #432c7a;
  --details-bg: #80489c;
  --circle-color: #ff8fb1;
  --text-color-p: #fce2db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
